<!DOCTYPE html>
<html ng-app="txnApp">
	<head>	
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/ui-grid.css" />
		<link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="scripts/angular-material/angular-material.css" />	
		<link rel="stylesheet" href="app.css" />				
      	<link rel="stylesheet" href="scripts/sweetalert.min.css" />

		<script type="text/javascript" src="scripts/angular.js"></script>		
		<script type="text/javascript" src="scripts/angular-messages/angular-messages.js"></script>
        <script type="text/javascript" src="scripts/angular-animate.js"></script>
        <script type="text/javascript" src="scripts/angular-sanitize.js"></script>
        <script type="text/javascript" src="scripts/angular-aria/angular-aria.js"></script>       
        <script type="text/javascript" src="scripts/angular-material/angular-material.js"></script>
		<script type="text/javascript" src="scripts/ui-grid.js"></script>
		<script type="text/javascript" src="scripts/angular-strap/dist/angular-strap.js"></script>
        <script type="text/javascript" src="scripts/angular-strap/dist/angular-strap.tpl.js"></script>
		<script type="text/javascript" src="scripts/ui-bootstrap-tpls.js"></script>
		<script src="scripts/ngSweetAlert/SweetAlert.js"></script>
        <script src="scripts/sweetalert.min.js"></script>
		
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="new-txn.controller.js"></script>	
		<script type="text/javascript" src="edit-txn.controller.js"></script>
		
			
	</head>

	<body ng-controller="txnCtrl" class="txn-grid" >
	        	
	        <h3 style="text-align:center;"> <em> Txn Application </em></h3>	
	    
	    <div layout="row" style="padding: 10px;">    	 
	    	<div class="search" flex="20">
	    	    <div class="input-group">            
		            <input type="text" class="form-control" ng-model="searchInput" placeholder="search by Id" >
		            <span class="input-group-addon" ng-click="search()"><i class="glyphicon glyphicon-search"></i></span>
	            </div>
	        </div>
	         
			<input type="button" value ="New Transaction" class="btn btn-default new-button" ng-model="temp" ng-click="createTxn($event)">
		     
		</div>
		<div layout="row">
				<div ng-if="txnData.length==0">
		<span> No results found for the search criteria</span>
		</div>
		</div>
		
		<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination style="margin-bottom: 10px;"></div>
		

		</body>
</html>